BASETEN_API_KEY=ldmJr8SN.WA97ST2IQxei6qOAexDc9v5vbMY6qfiI
BASETEN_BASE_URL=https://www.baseten.co/
BASETEN_MODEL=meta-llama/Llama-4-Scout-17B-16E-Instruct

YOUCOM_API_KEY=
YOUCOM_BASE_URL=https://api.ydc-index.io

VOICERUN_API_KEY=
VOICERUN_AGENT_ID=
VOICERUN_ENVIRONMENT=production
PHONE_NUMBER=+15555555555

DEMO_MODE=true
